<div class="container">
  <h3><%= @username %>, you chose <%= @choice.capitalize %></h3>
  <h3><%= @opponent_name %>, chose <%= @opponent_choice.capitalize %></h3>
  <br>
  <h4><%= @message %></h4>

  <h2><%= @result %></h2>
</div>
